<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Our history</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/General.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark" style="background-color:transparent">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="Characters.html">Characters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Worlds.html">Worlds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Players.html">Players</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section>
            <div id="container">
                <div class="card-deck" style="width:100%">
                  <div class="card" style="background-color: rgba(192,192,192,0.75)">
                    <img src="../uploads/kenku_thief.jpg" class="card-img-top" alt="">
                    <div class="card-body text-center">
                      <h2 class="card-text" style="font-family: cup_and_talonregular">Ella</h2>
                      <p class="card-text"> ella is a kenku who has fled from her homeworld, world that is been control by the chaos lord for genarations</p>
                      <p class="card-text">She desire to free her world from the claws of Chaos and give a better future to her and her people </p>
                    </div>
                  </div>
                  <div class="card" style="background-color: rgba(192,192,192,0.75)">
                    <img src="../uploads/bugbear.jpg" class="card-img-top" alt="">
                    <div class="card-body text-center">
                      <h2 class="card-text" style="font-family: cup_and_talonregular">Beto</h2>
                      <p class="card-text">Beto it's a bugbear who has been recovered after his clan was killed by the local elves , he was raised by a old elve</p>
                      <p class="card-text">he wants explore the world and see all lands that the sun touch</p>
                    </div>
                  </div>
                  <div class="card" style="background-color: rgba(192,192,192,0.75)">
                    <img src="../uploads/dwarf.png" class="card-img-top" alt="">
                    <div class="card-body text-center">
                      <h2 class="card-text" style="font-family: cup_and_talonregular">Gildin</h2>
                      <p class="card-text">Gildin is a very young dwarf who wants to be a master in the art of forge, he want to explore and find new raw materials to produce better tools for he and his friends</p>
                    </div>
                  </div>
                </div>
              </div>

              <div id="container">
                <div class="card-deck" style="width:100%">
                  <div class="card" style="background-color: rgba(192,192,192,0.75)">
                    <img src="../uploads/human.png" class="card-img-top" alt="">
                    <div class="card-body text-center">
                      <h2 class="card-text" style="font-family: cup_and_talonregular">Oklide</h2>
                      <p class="card-text"> Oklid is an old human, a scholar of the Hel academy he is an archaeologist who is after a sacred artefact the body of the holy saint Hel.</p>
                      <p class="card-text">in his jorney he found a lost finger of his saint in a very old ruin, since then he is obsessed by this search</p>
                    </div>
                  </div>
                  <div class="card dead" style="background-color: rgba(192,192,192,0.75)">
                    <img src="../uploads/hip.jpg" class="card-img-top" alt="">
                    <div class="card-body text-center">
                      <h2 class="card-text" style="font-family: cup_and_talonregular">Brienne</h2>
                      <p class="card-text">Brienne was a paladin of the conquer who belive that the all living have to accept the Godness of war </p>
                    </div>
                  </div>
              </div>
        </section>
    </body>
</html>
