<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Our history</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/General.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark" style="background-color:transparent">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="Characters.html">Characters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Worlds.html">Worlds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Players.html">Players</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section>
            <div id="container">
                <div class="card-deck" style="width:100%">
                  <div class="card" style="background-color: #C0C0C0">
                    <img src="../uploads/teste.jpg" class="card-img-top" alt="">
                    <div class="card-body text-center">
                      <p class="card-text">Some text inside the first card</p>
                      <p class="card-text">Some more text to increase the height</p>
                      <p class="card-text">Some more text to increase the height</p>
                      <p class="card-text">Some more text to increase the height</p>
                    </div>
                  </div>
                  <div class="card" style="background-color: #C0C0C0">
                    <img src="../uploads/teste.jpg" class="card-img-top" alt="">
                    <div class="card-body text-center">
                      <p class="card-text">Some text inside the first card</p>
                      <p class="card-text">Some more text to increase the height</p>
                      <p class="card-text">Some more text to increase the height</p>
                      <p class="card-text">Some more text to increase the height</p>
                    </div>
                  </div>
                  <div class="card" style="background-color: #C0C0C0">
                    <img src="../uploads/teste.jpg" class="card-img-top" alt="">
                    <div class="card-body text-center">
                      <p class="card-text">Some text inside the first card</p>
                      <p class="card-text">Some more text to increase the height</p>
                      <p class="card-text">Some more text to increase the height</p>
                      <p class="card-text">Some more text to increase the height</p>
                    </div>
                  </div>
                  <div class="card" style="background-color: #C0C0C0">
                    <img src="../uploads/teste.jpg" class="card-img-top" alt="">
                    <div class="card-body text-center">
                      <p class="card-text">Some text inside the first card</p>
                      <p class="card-text">Some more text to increase the height</p>
                      <p class="card-text">Some more text to increase the height</p>
                      <p class="card-text">Some more text to increase the height</p>
                    </div>
                  </div>  
                </div>
              </div>
              <div id="container">
                    <div class="card-deck" style="width:100%">
                      <div class="card" style="background-color: #C0C0C0">
                        <img src="../uploads/teste.jpg" class="card-img-top" alt="">
                        <div class="card-body text-center">
                          <p class="card-text">Some text inside the first card</p>
                          <p class="card-text">Some more text to increase the height</p>
                          <p class="card-text">Some more text to increase the height</p>
                          <p class="card-text">Some more text to increase the height</p>
                        </div>
                      </div>
                      <div class="card" style="background-color: #C0C0C0">
                        <img src="../uploads/teste.jpg" class="card-img-top" alt="">
                        <div class="card-body text-center">
                          <p class="card-text">Some text inside the first card</p>
                          <p class="card-text">Some more text to increase the height</p>
                          <p class="card-text">Some more text to increase the height</p>
                          <p class="card-text">Some more text to increase the height</p>
                        </div>
                      </div>
                      <div class="card" style="background-color: #C0C0C0">
                        <img src="../uploads/teste.jpg" class="card-img-top" alt="">
                        <div class="card-body text-center">
                          <p class="card-text">Some text inside the first card</p>
                          <p class="card-text">Some more text to increase the height</p>
                          <p class="card-text">Some more text to increase the height</p>
                          <p class="card-text">Some more text to increase the height</p>
                        </div>
                      </div>
                      <div class="card" style="background-color: #C0C0C0">
                        <img src="../uploads/teste.jpg" class="card-img-top" alt="">
                        <div class="card-body text-center">
                          <p class="card-text">Some text inside the first card</p>
                          <p class="card-text">Some more text to increase the height</p>
                          <p class="card-text">Some more text to increase the height</p>
                          <p class="card-text">Some more text to increase the height</p>
                        </div>
                      </div>  
                    </div>
                  </div>
        </section>
    </body>
</html>
