<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Our history</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/General.css">
        <link rel="stylesheet" type="text/css" href="../css/output.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark" style="background-color:transparent">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Characters.html">Characters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="Worlds.html">Worlds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Players.html">Players</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container world">
            <h1 class="h1worlds" style="font-family: cup_and_talonregular">Pandora</h1>
            <div class="row">
                <div class="col">
                    <p id="pandora">Pandora it is a world that for centuries was ruled by the empire, but no more.

                        the free races living on the upper islands rebelled, and a war began.
                        
                        This war open the gates for a dangerous enemy, the Chaos. the chaos is a empire that cover all universe and consumes it.
                        
                        A world with unexplored areas and exciting adventures</p>
                </div>
            </div>
        </div>
    </body>
</html>
