html,body{
    background: url("../uploads/Magic_of_book.jpg");
    background-color: white;
    background-size: 100%;
}

p{
    font-family: cup_and_talonregular;
    font-size: 20px;
}
#container{
    padding: 25px;
}
.h1worlds{
    padding: 25px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}
#pandora{
    text-align: center;
    font-family: cup_and_talonregular;
    font-size: 25px;
}
#pandoraimg{
    margin-left: 15%;
    max-width:100%;
    height: auto;
}
@font-face {
    font-family: 'cup_and_talonregular';
    src: url('../fonts/cup_and_talon-webfont.woff2') format('woff2'),
         url('../fonts/cup_and_talon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
th, td{
    font-family: cup_and_talonregular;
    font-size: 20px;
}

@media (max-width: 500px) and (max-height: 449px){
    .container{
        transform: scale(0.5);
    }

}

@media (max-width: 500px) and (min-height: 450px){
    .container{
        transform: scale(0.7);
    }
}
